<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".php" mimeType="application/octet-stream" />
        </staticContent>
        <handlers>
            <add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\AppServ\php5\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
