<ion-view  view-title="服务中心" hide-tabs="false">
  <style>
     .wrap{
       padding:1.6rem 0 1rem;
     }
    .avatar{
      width: 5rem;
      height: 5rem;
      margin: 0 auto 0.8rem;
    }
      .avatar img{
        border-radius: 50%;
        width: 100%;
      }
    .radu{
      margin: 0 auto;
        color: white;
        text-align: center;
        border: 1px solid white;
         width: 5.5rem;
         height: 1.6rem;
         line-height: 1.6rem;
         border-radius: 1rem;
    }
      .top{
        margin-top: 0.3rem;
      }
  </style>
  <ion-content style="background: #eee">

    <div class="wrap" style="background: url('img/03.jpg') no-repeat;background-size: 100%;">
          <div class="row">
            <div class="col col-50">
              <div class="avatar">
                <img src="img/max.png" alt="">
              </div>
              <p class="radu">立即拨打</p>
            </div>

            <div class="col col-50">
              <div class="avatar">
                <img src="img/ben.png" alt="">
              </div>
              <p class="radu">立即咨询</p>
            </div>
          </div>
    </div>


    <div class="list top">
      <a class="item" href="#/tab/plateform">
        <span class="item-icon-left">
        <i class="icon ion-ios-refresh assertive"></i>
           平台动态
          </span>
        <span style="float: right"><span style="color: red;"></span>
        <i class=" icon-right ion-chevron-right" style="margin-left: 0.3rem"></i>
        </span>
      </a>

      <a class="item" href="#">
        <span class="item-icon-left">
        <i class="icon ion-pie-graph assertive"></i>
           数据公开
          </span>
        <span style="float: right"><span style="font-size: 0.1rem" ng-class="{true:'red-point',false:''}[true]"></span>
        <i class=" icon-right ion-chevron-right" style="margin-left: 0.3rem"></i>
        </span>
      </a>

      <a class="item" href="#">
        <span class="item-icon-left">
        <i class="icon ion-android-drafts assertive"></i>
           公告
          </span>
        <span style="float: right"><span style="font-size: 0.1rem" ng-class="{true:'red-point',false:''}[true]"></span>
        <i class=" icon-right ion-chevron-right" style="margin-left: 0.3rem"></i>
        </span>
      </a>

      <a class="item top" href="#">
        <span class="item-icon-left">
        <i class="icon ion-android-favorite assertive"></i>
           更多服务
          </span>
        <span style="float: right"><span style="color: red;"></span>
        <i class=" icon-right ion-chevron-right" style="margin-left: 0.3rem"></i>
        </span>
      </a>

      <a class="item top" href="#">
        <span class="item-icon-left">
        <i class="icon ion-ios-paper assertive"></i>
           安全答疑手册
          </span>
        <span style="float: right"><span style="color:gray;font-size: 0.9rem">董事长为您解答</span>
        <i class=" icon-right ion-chevron-right" style="margin-left: 0.3rem"></i>
        </span>
      </a>

      <a class="item" href="#">
        <span class="item-icon-left">
        <i class="icon ion-ios-list assertive"></i>
           帮助与反馈
          </span>
        <span style="float: right"><span style="color: red;"></span>
        <i class=" icon-right ion-chevron-right" style="margin-left: 0.3rem"></i>
        </span>
      </a>

      <a class="item" href="#">
        <span class="item-icon-left">
        <i class="icon ion-android-cloud-circle assertive"></i>
           了解真融宝
          </span>
        <span style="float: right"><span style="color: red;"></span>
        <i class=" icon-right ion-chevron-right" style="margin-left: 0.3rem"></i>
        </span>
      </a>

      <a class="item" href="#">
        <span class="item-icon-left">
        <i class="icon ion-refresh assertive"></i>
           版本更新
          </span>
        <span style="float: right"><span style="color:gray;font-size: 0.5rem;">当前版本：4.3.0</span>
        <i class=" icon-right ion-chevron-right" style="margin-left: 0.3rem"></i>
        </span>
      </a>


      </div>
  </ion-content>
</ion-view>
