<!DOCTYPE html>
<html lang="en" ng-app="ionic">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="../js/app.js"></script>
  <script src="../js/ionic.js"></script>
  <script src="../js/controllers.js"></script>
</head>
<body>
<ion-side-menus>
  <ion-side-menu-content>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1>header</h1>
      <button class="button icon ion-chevron-left"></button>
    </ion-header-bar>
  </ion-side-menu-content>
  <ion-side-menu side="left" width="200" class="calm-bg"></ion-side-menu>
  <<!--ion-side-menu side="right" width="200" class="calm-bg"></ion-side-menu>-->
</ion-side-menus>
</body>
</html>
